<div id="projects-index-container">
  <div id="projects-box">
    <div class="language-name">Java + Processing</div>
    <% Project.projects_in("Processing").each do |project| %>
      <div class="project-title"><%= link_to project.title, project %></div>
      <br>
    <% end %>

    <div class="language-name">Ruby on Rails</div>
    <% Project.projects_in("Ruby on Rails").each do |project| %>
      <div class="project-title"><%= link_to project.title, project %></div>
      <br>
    <% end %>
  </div>
</div>