<h3>Processing</h3>
  <p>A selection of my projects for New York University's Interactive Computing class with Professor Craig Kapp in the fall of 2014. The projects are all written in Processing and are listed in chronological order, culminating with 'Doodle Jump' - my final project for the class.</p>

  <% Project.where(language: "Processing").each do |project| %>
    <%= link_to project.title, project %>
  <% end %>

<h3>Ruby on Rails</h3>
  <p>Projects completed at Dev Bootcamp in the summer of 2015.</p>

  <% Project.where(language: "Ruby on Rails").each do |project| %>
    <%= link_to project.title, project %>
  <% end %>