#projects-index-container {
  margin: 3em 15em 3em 15em;
}

.language-name {
  font-family: 'Damion', cursive;
  font-size: 3em;
  margin-bottom: 0.5em;
}

.project-title {
  font-size: 1.5em;
  margin-left: 5%;
}

.project-title:hover {
  font-weight: bold;
}

#projects-show-container {
  margin: 1em 15em 1em 15em;
}

#project-title {
  font-size: 4em;
}

#project-description {
  margin-top: 2em;
}

#project-link, #github-link{
  text-align: center;
  margin-top: 2em;
  text-decoration: underline;
}

#project-link:hover, #github-link:hover {
  color: green;
  font-weight: bold;
}

#screenshots {
  display: inline;
}

#screenshots img{
  display: inline-block;
  width: 49%;
  height: 40%;
  margin-top: 3%;
}