#projects-index-container {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background-color: #CDC8B6;
}

.language-name {
  font-family: 'Damion', cursive;
  color: #22313F;
  font-size: 3em;
  margin-bottom: 0.5em;
}

#projects-box {
   margin: 3em 15em 3em 15em;
}

.project-title {
  color: #22313F;
  letter-spacing: 3px;
  font-size: 1.5em;
  margin-left: 5%;
}

.project-title:hover {
  text-decoration: underline;
}

#projects-show-container {
  margin: 0.6em 10em 0.6em 10em;
}

#project-title {
  font-family: 'Damion', cursive;
  font-size: 4em;
}

#project-description {
  margin-top: 2em;
  font-size: 18px;
  line-height: 180%;
}

#project-link, #github-link{
  text-align: center;
  margin-top: 2em;
  text-decoration: underline;
}

#project-link:hover, #github-link:hover {
  color: green;
  font-weight: bold;
}

#screenshots {
  display: inline;
}

#screenshots img{
  display: inline-block;
  width: 49%;
  height: 40%;
  margin-top: 3%;
}

canvas {
  display:block;
  margin: auto;
}